// NodeJS Server port
export const APP_PORT = 1234;

// PostgreSQL connector configuration
export const PG_CONFIG = {
  host: 'DatabaseHostname',
  user: 'DatabaseUser',
  password: 'dATAbAsEPAsSwoRD',
  database: 'public',
  max: 50,
};

// Nodemailer configuration
export const EMAIL_CONFIG = {
  service: 'GMail',
  secure: true,
  requireTLS: true,
  auth: {
    user: 'username@gmail.com',
    pass: 'MyGMaIlPasswOrd',
  },
};
// Nodemailer 'Reply-to' header value
export const EMAIL_REPLYTO = 'contactme@gmail.com';

// Argon2 configuration
export const ARGON2_CONFIG = {
  type: 0,
  hashLength: 128,
  saltLength: 32,
  memoryCost: 32768,
  timeCost: 12,
  parallelism: 12,
  raw: false,
};
