<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('partials/header') %>
    <title>Activare :: GennIT Ticketing</title>
    <script nonce="<%- cspNonce %>">
      setTimeout(() => {
        window.location.href = '/auth';
      }, 3000);
    </script>
  </head>
  <body>
    <div class="content">
      <p class="inline">Contul a fost activat cu succes!</p>
      Te trimitem pe pagina de log-in imediat!
    </div>
  </body>
</html>
