<!DOCTYPE html>
<html lang="ro" prefix="og: http://ogp.me/ns#">
  <head>
    <%- include('partials/header') %>
    <title>Autentificare :: GennIT Ticketing</title>
    <meta name="description" content="Autentificare utilizator, creare cont utilizator și recuperare credențiale.">
    <meta property="og:title" content="Autentificare :: GennIT Ticketing">
    <meta property="og:url" content="https://master.gennerator.com/auth">
    <meta property="og:image" content="https://static.gennerator.com/android-512.png">
    <meta property="og:description" content="Autentificare utilizator, creare cont utilizator și recuperare credențiale.">
    <script nonce="<%- cspNonce %>" src="https://static.gennerator.com/js/auth.js" defer></script>
  </head>
  <body>
    <%- include('partials/noJS') %>
    <form id="auth" class="content">
      <h1 id="authTitle">Autentificare</h1>
      <input type="text" name="username" class="login" maxlength="40" spellcheck="false" placeholder="Nume utilizator" id="username" autocomplete="username" tabindex="1" required>
      <input type="password" name="password" class="login" placeholder="Parola" id="password" autocomplete="current-password" tabindex="2" required>
      <input id="submitB" type="submit" class="submitB" value="&rtrif;">
      <div class="auth">
        <a class="auth" id="authMenuItem1">Ai uitat parola?</a>
        <a class="auth" id="authMenuItem2">Nu ai cont? Creează unul!</a>
      </div>
    </form>
  </body>
</html>
