h1 {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 0;
}

#username {
  background: url(https://static.gennerator.com/img/svg/username.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
}

#password,
#repeatPassword {
  background: url(https://static.gennerator.com/img/svg/password.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
}

#email {
  background: url(https://static.gennerator.com/img/svg/email.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
}

.info {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  max-width: 20rem;
}

.info-content {
  display: block;
  font-weight: 200;
  margin-top: 0.4rem;
}

div.auth {
  font-size: 1rem;
  margin-top: 1.5rem;
  user-select: none;
}

a {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

input.login {
  min-width: 18rem;
}

.submitB {
  background: #363636;
  border: 0;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 2em;
  margin-top: 2rem;
  padding: 1rem;
  width: 2em;
}

.submitB:hover {
  background: #09776c;
}

.submitB:focus {
  background: #09776c;
  outline: 0;
}

.cbox {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.cbox label::before {
  background: #363636;
  border-radius: 7px;
  content: "\00a0";
  display: inline-block;
  margin-right: 0.5rem;
  text-align: center;
  width: 1.5rem;
}

.cbox label:hover::before {
  background: #303030;
}

.cbox label {
  cursor: pointer;
  user-select: none;
}

.cbox input:checked ~ label::before {
  content: "\2714";
}

.cbox input {
  margin-right: -1.2rem;
  margin-top: 0;
  min-height: 1rem;
  opacity: 0;
}
