* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

.content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  text-align: center;
}

/* ===================== LOGIN ===================== */
#auth #username {
  background: url(https://static.gennerator.com/img/svg/username.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
}

#auth #password {
  background: url(https://static.gennerator.com/img/svg/password.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
}

#auth #repeatPassword {
  background: url(https://static.gennerator.com/img/svg/password.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
}

#auth #email {
  background: url(https://static.gennerator.com/img/svg/email.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
}

#auth input.green {
  border-color: #09776c;
}

#auth input.red {
  border-color: #d3312e;
}

div.auth {
  display: inline-block;
  font-size: 1rem;
  margin-top: 1.5rem;
  user-select: none;
}

a.auth {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

a.auth:hover,
a.right:hover {
  text-decoration: underline;
}

a.login {
  font-size: 1.3rem;
  margin: auto 0.5rem auto auto;
  text-decoration: none;
}

input.login {
  background: transparent;
  border: 2px #363636 solid;
  border-radius: 15px;
  color: #fff;
  display: block;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  min-height: 3rem;
  min-width: 17rem;
  padding: 0.1rem 0.5rem 0.1rem 2.7rem;
}

input.login:focus {
  box-shadow: 0 0 5px #363636;
  outline: 0;
}

input.submitB {
  background: #363636;
  border: 0;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 2em;
  margin-top: 2rem;
  padding: 1rem;
  width: 2em;
}

input.submitB:hover {
  background: #09776c;
}

input.submitB:focus {
  background: #09776c;
  outline: 0;
}

.checkbox-label {
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
  user-select: none;
}

.checkbox-label:focus {
  outline: 0;
  text-shadow: 5px 5px 10px #09776c;
}

/* =========================== NAVIGATION BAR =========================== */
.navbar {
  background: #363636;
  height: 100%;
  position: fixed;
  transition: width 200ms ease;
  width: 5rem;
}

.navbar-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3ch;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.nav-logo img {
  transform: rotate(0deg);
  transition: 600ms;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  filter: grayscale(100%) opacity(0.6);
  height: 5rem;
  text-decoration: none;
  transition: 600ms;
}

.nav-link img {
  /* Using min and max width/height because Firefox likes to resize the images when hovering over them */
  margin: 0 1.5rem;
  max-height: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

.nav-link-text {
  display: none;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .nav-logo img {
  transform: rotate(-180deg);
}

.nav-link:hover {
  background: #09776c;
  color: #fff;
  filter: grayscale(0%) opacity(1);
}

.navbar:hover .nav-link-text {
  display: block;
}

div.main {
  margin-left: 5rem;
  padding: 1rem;
}

@media only screen and (max-width: 576px) {
  .navbar {
    bottom: 0;
    height: 5rem;
    width: 100%;
  }

  .navbar-items {
    flex-direction: row;
  }

  .nav-logo {
    display: none;
  }

  .nav-link {
    justify-content: center;
  }

  div.main {
    margin-left: 0;
  }

  .navbar:hover {
    width: 100%;
  }

  .navbar:hover .nav-link-text {
    display: none;
  }
}

/* ============================== SNACKBAR ============================== */
#snackbar {
  align-items: center;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  user-select: none;
  visibility: hidden;
}

#snackC {
  border-radius: 2px;
  color: white;
  max-height: 80%;
  max-width: 80%;
  padding: 1.3rem;
  white-space: pre-line;
}

#snackbar.show {
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
  visibility: visible;
}

#snackC.green {
  background: #09776c;
}

#snackC.orange {
  background: #ed9c27;
}

#snackC.red {
  background: #d3312e;
}

#snackC.blue {
  background: #3098b8;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 2rem;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 2rem;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: 700;
}

html {
  opacity: 1;
  overflow: auto;
  scrollbar-color: #363636 transparent;
  visibility: visible;
}
