.tickets-page {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.tickets-filters {
  background: #363636;
  border-radius: 5px;
  grid-area: 1 / 1 / 19 / 2;
  overflow-y: auto;
  padding: 1rem;
}

.tickets-search {
  align-items: center;
  background: #363636;
  border-radius: 5px;
  display: flex;
  grid-area: 1 / 2 / 2 / 6;
  padding: 0.3rem 0.3rem;
}

.tickets {
  border: 5px #363636 solid;
  border-radius: 5px;
  grid-area: 2 / 2 / 19 / 6;
  overflow-y: auto;
  padding: 0 1rem 1rem;
}

.tickets-searchbar {
  background: #232323 url(https://static.gennerator.com/img/svg/search.svg) no-repeat 0.7rem 50%/1.4rem 1.4rem;
  border-radius: 10px;
  height: 2.5rem;
  margin-left: 3rem;
  margin-top: 0;
  min-height: 2rem;
  width: 50%;
}

.tickets-searchbar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background: #d3312e;
  border-radius: 10px;
  height: 10px;
  position: relative;
  right: 2px;
  width: 10px;
}

.ticket-add {
  background: #232323;
  border-radius: 5px;
  cursor: pointer;
  height: 2.2rem;
  margin-left: 0.5rem;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  width: 3.5rem;
}

.ticket-add img {
  height: 100%;
  padding: 0.4rem;
  transform: rotate(0deg);
  transition: 300ms;
  width: 100%;
}

.ticket-add:hover {
  background: #09776c;
}

.rotate img {
  transform: rotate(-135deg);
  transition: 300ms;
}

.rotate:hover {
  background: #d3312e;
}

#ticketForm {
  display: flex;
  flex-direction: column;
}

#ticketMessage {
  font-weight: 200;
  min-height: 20rem;
  padding-top: 1rem;
  resize: none;
}

#ticketMessage::placeholder {
  font-weight: 700;
}

#ticketCategory,
#ticketPriority,
#ticketAssignee,
#ticketStartDate,
#ticketEndDate,
#ticketStatus {
  border-radius: 10px;
  margin-top: 0;
  width: 100%;
}

#submitButton {
  background: #454545;
  cursor: pointer;
  padding: 0.7rem;
  width: 100%;
}

#submitButton:hover {
  background: #09776c;
}

#submitButton:focus {
  background: #09776c;
  outline: 0;
}

.new-ticket-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1rem 0.5rem;
}

.requestor {
  background: #434343;
  border-radius: 10px;
  display: flex;
  padding: 0.5rem;
}

.profile-picture {
  background: #ed9c27;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  height: 2rem;
  line-height: 2rem;
  margin-right: 0.5rem;
  min-height: 2rem;
  min-width: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  width: 2rem;
}

.profile-name {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.parameter-title {
  display: block;
  font-size: 1.3rem;
  margin: 1rem 0 0.5rem 0.5rem;
}

.gray-bg {
  background: #363636;
}

.hidden {
  display: none !important;
}

.ticket {
  background: #363636;
  border-radius: 5px;
  margin-top: 1rem;
  overflow: hidden;
}

.ticket-top {
  border-radius: 5px 5px 0 0;
  display: flex;
  padding: 1rem 1rem 0.3rem 0;
}

.ticket-id-status {
  min-width: 10rem;
}

.ticket-id {
  color: #fff;
  display: block;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.ticket-status {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.4rem 0;
  padding: 0.2rem;
  text-align: center;
  text-shadow: 1px 1px 2px #232323;
}

.ticket-title-description {
  margin-left: 1rem;
  width: 100%;
}

.ticket-title {
  color: #fff;
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-message {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

.status-1 { /* Nou */
  background: #ed9c27;
}

.status-2 { /* Atribuit */
  background: #3098b8;
}

.status-3 { /* În așteptare */
  background: #d3312e;
}

.status-4 { /* Soluționat */
  background: #09776c;
}

.ticket-bottom {
  background: #454545;
  border: 1px solid #303030;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
}

.ticket-bottom .element {
  border-right: 1px solid #303030;
  display: inherit;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-bottom .user {
  width: 15rem;
}

.ticket-bottom .date {
  width: 13rem;
}

.ticket-bottom .priority {
  width: 7rem;
}

.ticket-bottom .category {
  width: 12rem;
}

.ticket-bottom .element:last-child {
  border-right: 0;
}

.field-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field-name {
  color: #d0d0d0;
  font-size: 0.8rem;
  font-weight: 700;
}

.field-title {
  color: #fff;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-parameter {
  display: flex;
  flex-direction: column;
}

.filter-group-title {
  background: #454545;
  border-radius: 5px;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
  padding: 0.3rem;
}

.filter-checkbox {
  height: 2rem;
}

.filter-checkbox input {
  height: 1rem;
  margin-top: 0;
  min-height: auto;
}

.filter-checkbox input[type="checkbox"] {
  opacity: 0;
}

.filter-checkbox label {
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.3rem;
}

.filter-checkbox label:hover {
  background: #454545;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox input[type="checkbox"]:checked + label {
  background: #09776c;
}

.filter-remove {
  background: #454545;
  border-radius: 5px;
  height: 1.5rem;
  margin-left: auto;
  padding: 0.3rem;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  width: 1.5rem;
}

.filter-remove:hover {
  background: #d3312e;
  cursor: pointer;
}

.filter-remove img {
  display: flex;
  transform: rotate(45deg);
}

@media only screen and (max-width: 1400px) {
  .tickets-filters {
    grid-area: 2 / 1 / 8 / 6;
  }

  .tickets-search {
    grid-area: 1 / 1 / 2 / 6;
  }

  .tickets {
    grid-area: 8 / 1 / 19 / 6;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .new-ticket-title {
    flex-basis: 43%;
    margin-right: 0;
  }

  .filters .new-ticket-title {
    background: #454545;
    border-radius: 5px;
    flex-basis: 100%;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0.3rem;
  }

  #ticketParameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }

  .ticket-parameter {
    flex-basis: 33.3333%;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .requestor-div {
    align-self: center;
    display: flex;
    flex-direction: row;
    height: 3rem;
  }

  .requestor-div .requestor {
    flex-grow: 1;
  }

  .requestor-title {
    margin-left: 0;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .tickets-page {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }

  .tickets {
    padding: 0.5rem;
  }

  .ticket {
    margin-top: 0.5rem;
  }

  .ticket-bottom {
    flex-wrap: wrap;
  }

  .tickets .ticket:first-child {
    margin-top: 0;
  }

  .ticket-bottom .element {
    border-bottom: 1px solid #303030;
    flex-basis: 33.3333%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5rem;
  }

  .ticket-bottom .element:nth-child(3n) {
    border-right: 0;
  }

  .ticket-bottom .element:nth-child(4) {
    border-bottom-left-radius: 5px;
  }

  .ticket-bottom .element:nth-child(6) {
    border-bottom-right-radius: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .tickets-page {
    display: flex;
    flex-direction: column;
  }

  .tickets-filters {
    overflow: unset;
  }

  .filter-group {
    flex-basis: 100%;
    margin: 0;
  }

  .filters .new-ticket-title {
    background: none;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 1rem 0.5rem;
    text-align: left;
  }

  .tickets-search {
    margin-bottom: 0.5rem;
    min-height: 3rem;
    padding: 0.4rem 1rem;
  }

  .tickets {
    margin-bottom: 0.5rem;
    min-height: 35rem;
  }

  .tickets-searchbar {
    margin-left: 0;
    width: 90%;
  }

  .ticket-top {
    flex-direction: column;
    padding: 0;
  }

  .ticket-status {
    margin: 0 0 0.4rem 0;
  }

  .ticket-title-description {
    margin-left: 0;
  }

  .ticket-title {
    margin-bottom: 0.4rem;
    margin-left: 1rem;
    overflow: none;
    white-space: normal;
  }

  .ticket-message {
    display: none;
  }

  .element .profile-picture {
    display: none;
  }

  .ticket-id {
    display: none;
  }

  #ticketParameters {
    flex-direction: column;
    height: auto;
  }

  .requestor-div {
    flex-direction: column;
    width: 100%;
  }

  .requestor-title {
    margin-left: 0.5rem;
  }
}
