<nav class="navbar">
  <ul class="navbar-items">

    <li class="nav-logo">
      <a class="nav-link" href="/main">
        <span class="nav-link-text">GennIT</span>
        <img src="https://static.gennerator.com/img/svg/right-chevron.svg" alt="Deschidere meniu">
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/main">
        <img src="https://static.gennerator.com/img/svg/home.svg" alt="Acasă">
        <span class="nav-link-text">Acasă</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/ticket">
        <img src="https://static.gennerator.com/img/svg/ticket.svg" alt="Tichete">
        <span class="nav-link-text">Tichete</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link">
        <img src="https://static.gennerator.com/img/svg/calendar.svg" alt="Planificator">
        <span class="nav-link-text">Planificator</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/user/<%- userData.userId %>">
        <div class="nav-profile-picture"><%= userData.userName.charAt(0).toUpperCase(); %></div>
        <span class="nav-link-text"><%= userData.userName %></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="logoutButton">
        <img src="https://static.gennerator.com/img/svg/logout.svg" alt="Deconectare">
        <span class="nav-link-text">Deconectare</span>
      </a>
    </li>

  </ul>
</nav>
